body{
    background: url(Untitled2.png);
}
.header h2{
   margin:auto;
   text-align: center;
}
.container{
    text-align: center;
}
.box1{
   
   display: inline;
   
}
textarea{
    width: 500px;
    height: 500px;
    border: 2px solid black; 
    background-color: white;
       
}
.btn{
    margin: 5px 5px;
    width: 33%;
}
.btn a{
    text-decoration: none;
    color: black;
}

